{% extends "AppRitmoUrbano/inicio.html" %}
{% load static %}


{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
  
    {%if miFormulario.errors %}
    <p style="color: red; font-family: montserrat semibold, helvetica neue, open sans, source sans pro;">Los datos ingresados no son correctos</p>

    {% endif %}

    <form action="" method="POST">{% csrf_token %}
        <table class="form-style">
            {{miFormulario.as_table}}
        </table>
        <input type="submit", value="Enviar">
    </form>    

{% endblock %}