{% extends "AppRitmoUrbano\index.html" %}

{% load static %}

{% block contenidoQueCambia %}


    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <br>
    <br>
    <div class="content container">
        
            <div class="col-md-40 offset-md-4">
                <div class="product-item-description d-flex ms-auto">
                    <div class="bg-faded p-3 rounded">
                    
    <h6 class="text-align: center; col-md-18 offset-md-0" style="color:dark brown; font-family: montserrat black; ">Horario: Lunes a Viernes de 9 a 12hs. y de 15 a 21hs.</h6>
     <p class="text-align: center; col-md-11 offset-md-2" style="color:dark brown; font-family: montserrat black; font-size: 1.0em;">Vieytes 1554, B° San Rafael, Córdoba</p> 
    <p class="section-heading-upper; col-md-11 offset-md-1" style="color:dark brown; font-family: montserrat black; font-size: 2.0em;">Envianos tu Mensaje:</p>     

    <p style="color: red; text-center; font-family: montserrat black; font-size: 2.0em;">{{ mensaje }}</p>

    <form action="" method="POST" class= "col-md-4 offset-md-3" style="color:dark brown; font-family: montserrat semibold; font-size: 0.9em;" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="form-style">
            {{miFormularioBlog.as_p}}
        </table>
        <input class=" col-md-11 offset-md-3 btn btn-primary btn-sg" type="submit", value="Enviar"> <br> <br><button class=" col-md-11 offset-md-3 btn btn-primary btn-sg">
            <a href = "{% url 'Index' %}" style="color:white; font-family: montserrat semibold; text-decoration: none;">Volver a Inicio</a></button>
    </form>  
    
                    </div>
                </div>
                
                
            </div>
              
        </div>
    </div>
    <br>
    <br>    
{% endblock %}
<br>
<br>
    

    


