{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}
    <h1 style="color:white;">Editar post</h1>
    <p style="color: red;">{{ mensaje }}</p>
    <p style="color: white;">El título no puede coincidir con otro</p>

    <form action="" method="POST" style="color:white;" enctype="multipart/form-data">
        
        {% csrf_token %}

        <h3>Editando publicación: {{post.id}}: {{post.titulo}}</h3>

        <table>
            {{miFormularioEditPost.as_table}}
        </table>

        <input class=" col-auto btn btn-primary btn-sg" type="submit", value="Confirmar cambios">
    </form>
    <a class=" col-auto btn btn-primary btn-sg" style="color:white; " href={% url 'LeerPost' %}>Regresar a los blogs</a>
    
{% endblock %}
