{% extends "AppRitmoUrbano/index.html" %}

{% load static %}

{% block contenidoQueCambia %}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower" style= "font-family: montserrat black">MODALIDADES</span>  
                        <span class="section-heading-upper">de cursado</span>                                              
                    </h2>
                    
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-01.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><h4 class="text-align: center; col-md-5 offset-md-5 mb-1" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">MÚSICA</h4><br>
                <h6 class="mb-0" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">•	Modalidad Plan Niveles (Instrumento, Audio y Ensamble)</h6><br> 
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Carga horaria: dos clases semanales de una hora cada una. Una de Instrumento, y otra grupal de Audio Perceptiva y/o Ensamble.</p><br> 
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- No se necesita conocimientos previos para el cursado de esta modalidad.</p><br>
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Esta actividad tiene como objetivo que el alumno logre el mayor desarrollo de conocimientos en cuanto al domínio, la técnica, interpretación, armonía, improvisación y/o arreglos musicales.</p><br>
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- El alumno será evaluado dos veces al año en Instrumento, Audio Perceptiva y Ensamble, para tener un mejor seguimiento y poder ayudarlo a mejorar sus inconvenientes o conocimientos no adquiridos.</p><br>
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Al finalizar cada año lectivo, los alumnos obtendrán un certificado que acredite su trayectoria.</p><br> 
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Sólo podrán realizar esta actividad los alumnos de 8 años en adelante.
                </p><br>
                </div>
            </div>
            <br>
            <br>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-01.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                <h6 class="mb-0" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">•	Modalidad Cursado Libre (Instrumento)</h6><br> 
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Carga horaria: una hora de clase semanal individual.</p><br> 
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Esta modalidad es para los que están interesados en lograr conocimientos y habilidad musical, sin sujetarse a un programa.</p><br>
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Para alumnos de 6 a 8 años, esta es la única modalidad de estudio, con participación en la Audición Final.</p><br>
                <h6 class="mb-0" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">•	Iniciación Musical (Para niños de 3 a 6 años)</h6><br>
                <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Carga horaria:  una clase semanal grupal de hora y media.</p><br> 
                </div>
            </div>
            <br>
            <br>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\mosa.png" %}" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <div class="bg-faded p-5 rounded"><h4 class="text-align: center; col-md-5 offset-md-5 mb-1" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">ARTE</h4><br>
                        <h6 class="mb-0" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">•	Arte Visual para chicos </h6><br> 
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Carga horaria:  una clase semanal grupal de dos horas.</p><br> 
                        <h6 class="mb-0" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">•	    Pintura Artística.</h6><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">- Carga horaria:  una clase semanal grupal de tres horas</p><br>
                        </div>
                        
                        
           </div>
            </div> 
            <br>
            <br>
             
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\mosa.png" %}" alt="..." />
            <div class="product-item-description d-flex ms-auto">
                <div class="bg-faded p-5 rounded">
                    <div class="bg-faded p-5 rounded"><h4 class="text-align: center; col-md-5 offset-md-4 mb-1" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">ARTE VISUAL</h4><br>
                        <h6 class="mb-0" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">•	"Taller creativo de Dibujo y Pintura" (para niños) </h6><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Pintura con Tempera y Acrílico</p><br>                     
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Dibujo en Lápiz y Grafito</p><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Dibujo con Tizas y Oleo Pasteles</p><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Dibujo y Pintura con Tinta China</p><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Técnicas Mixtas</p><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">Exploración en técnicas y procesos creativos.
                         Algunas actividades a realizar: 
                        </p><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">Técnicas – Dibujo línea sensible y claroscuro con grafito, carbonilla, tinta, etc. Pintura plana con témpera, aguadas, 
                        acuarela, crayón, lápices, collage</p><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">Actividades – Pintura y dibujo libre alternando con trabajo de observación y reproducción de objetos reales. Ejercicios de plegado de papel orientado hacia la ingeniería del libro. Trabajos sobre historia del arte,
                        fundamentados en observación de obras reconocidas y reproducción de estilo y técnica. </p><br>
                        <h6 class="mb-0" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">•	"Taller de Pintura al Oleo" (adultos)</h6><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Técnicas con Pincel y Espátulas</p><br>                     
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Pintura sobre Hojas, Bastidores de Tela y Soportes Rígidos</p><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Estudio y Análisis de Perspectiva y Proporciones</p><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">* Experimentación Gestual y de Carácter Pictóricos.</p><br>
                        <h6 class="mb-0" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">•	Talleres Alternativos</h6><br>
                        <p class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">-	Durante el año se dictarán distintos tipos de Talleres de corta duración.
                            Consultas vía Whatsapp y/o Instagram.
                        </p><br>  
                        </div>
            </div>
           </div>
            <br>
            <br>
            <br>
        
            <div class="product-item-description d-flex me-auto">
              
                &nbsp;&nbsp;&nbsp;&nbsp;<img class="product-item-img me-auto d-flex rounded" src="{% static "AppRitmoUrbano\assets\img\about1.jpg" %}" alt="..." /> 
        </div>
        <br>
            <br>
            <br>
        
        <div class="product-item-description d-flex ms-auto">  
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <h6 class="text-center" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">Buscanos en Instagram      
                        <br>
                        <br>
                        <a href="https://www.instagram.com/ritmourbanocba/"> 
                            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\LogInsta.png" %}" alt="..." /> 
                            </a>
                        <br> 
                        ritmourbanocba                                            
                    </h6></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                <div class="bg-faded p-5 rounded">
                    <h6 class="text-center" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro" >Escribinos a nuestro Whatsapp<br><br> 
                        <a href="https://walink.co/61d989"> 
                            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\LogWhats.png" %}" alt="..." /> 
                        </a> 
                        <br> +54 9 3517 61-2165 </h6>
                    
                </div> 
                
        </div>
                 
    </div>
    <br>
    <br>
    <a href={% url 'Clases' %} class=" col-md-14 offset-md-5 btn btn-primary btn-sg" style="text-decoration: none; color: rgba(47, 23, 15, 0.65); 
            font-family: montserrat extrabold, helvetica neue, open sans, source sans pro;">Volver a Clases</a>
</section>

{% endblock %}