{% extends "AppRitmoUrbano/index.html" %}

{% load static %}

{% block contenidoQueCambia %}

<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-lower">NUESTRA HISTORIA</span>  
                        <span class="section-heading-upper">Así Empezamos...</span>                                              
                    </h2>
                    
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\products-01.jpg" %}" alt="..." />
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded"><h6 class="mb-0" style= "font-family: montserrat, helvetica neue, open sans, source Sans pro">We take pride in our work, and it shows. Every time you order a beverage from us, we guarantee that it will be an experience worth having. Whether it's our world famous Venezuelan Cappuccino, a refreshing iced herbal tea, or something as simple as a cup of speciality sourced black coffee, you will be coming back for more.</h6></div>
            </div>
            <br>
            <br>
            <br>
        
            <div class="product-item-description d-flex me-auto">
              
                &nbsp;&nbsp;&nbsp;&nbsp;<img class="product-item-img me-auto d-flex rounded" src="{% static "AppRitmoUrbano\assets\img\about1.jpg" %}" alt="..." /> 
        </div>
        
        <div class="product-item-description d-flex ms-auto">  
            <div class="product-item-description d-flex me-auto">
                <div class="bg-faded p-5 rounded">
                    <h6 class="text-center" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro">Buscanos en Instagram      
                        <br>
                        <br>
                        <a href="https://www.instagram.com/ritmourbanocba/"> 
                            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\LogInsta.png" %}" alt="..." /> 
                            </a>
                        <br> 
                        ritmourbanocba                                            
                    </h6></div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  
                <div class="bg-faded p-5 rounded">
                    <h6 class="text-center" style= "font-family: montserrat black, helvetica neue, open sans, source Sans pro" >Escribinos a nuestro Whatsapp<br><br> 
                        <a href="https://walink.co/61d989"> 
                            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="{% static "AppRitmoUrbano\assets\img\LogWhats.png" %}" alt="..." /> 
                        </a> 
                        <br> +54 9 3517 61-2165 </h6>
                    
                </div> 
                
        </div>
                 
    </div>
</section>

{% endblock %}