{% extends "AppLuckApp/index.html" %}
{% load static %}

{% block contenidoQueCambia %}

    <form action="" method="POST" style="color:white;" enctype="multipart/form-data">
        {%csrf_token%}

        <p style="color: white; font-family: Impact; font-size: 2.5em;">REGISTRO DE USUARIO</p>

        <div>
            <p style="color: red;">{{mensaje}}</p>
        </div>

        {{registerForm.as_p}}

        <button class="col-auto btn btn-primary btn-sg" type="submit"> Registrarme</button>
        
    </form> 

    <a class=" btn btn-primary" href = "{% url 'Inicio' %}">Volver al inicio</a>
    <a class = "btn btn-primary" href={% url 'Login' %}>INICIAR SESIÓN</a>

{% endblock %}